/* sass css 01
 -----------------------------------------------------*/
.page-main {
  height: 2990px;
  display: block;
}
.page-main .backstretch1 {
  width: 100%;
  display: block;
  position: relative;
}
.page-main .backstretch1 .row {
  display: block;
  margin: 0px;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 50%;
  margin-top: -152px;
  left: 0px;
}
.page-main .backstretch1 .row .col-md-12 {
  text-align: center;
}
.page-main .backstretch1 .row .col-md-12 h3 {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 18px;
}
.page-main .backstretch1 .row .col-md-12 h1 {
  margin: 4px 0px 25px 0px;
  font-size: 40px;
  color: #00C6D7;
  font-weight: 700px;
  position: relative;
  display: inline-block;
}
.page-main .backstretch1 .row .col-md-12 h1:before {
  position: absolute;
  content: "";
  width: 240px;
  height: 1px;
  display: block;
  background: #cccccc;
  bottom: -14px;
  left: -16px;
}
.page-main .backstretch1 .row .col-md-12 .btn-group {
  padding-top: 60px;
  display: block;
}
.page-main .backstretch1 .row .col-md-12 .btn-group .md-btn {
  min-width: 190px;
  padding: 12px 42px;
  display: inline-block;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  border: 4px solid #ffffff;
}
.page-main .backstretch1 .row .col-md-12 .btn-group .btn-work {
  background: #00c6d7;
  border: 4px solid #00c6d7;
  margin-right: 16px;
}
.page-main .backstretch1 .row .col-md-12 .btn-group .btn-work:hover {
  background: none;
  border: 4px solid #ffffff;
  -webkit-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.page-main .backstretch1 .row .col-md-12 .btn-group .btn-contact:hover {
  background: #00c6d7;
  -webkit-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
  border: 4px solid #00c6d7;
}
.page-main .backstretch1 img {
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
.page-main .backstretch1 img.active {
  z-index: 1;
}

@media screen and (min-width: 600px) and (max-width: 991px) {
  .page-main .backstretch1 {
    min-height: 700px;
  }
  .page-main .backstretch1 .row {
    margin-top: -155px;
  }
  .page-main .backstretch1 img {
    min-height: 600px;
    height: 100vh;
  }
}
@media screen and (min-width: 992px) {
  .page-main .backstretch1 {
    min-height: 700px;
  }
  .page-main .backstretch1 img {
    height: 100vh;
    min-height: 700px;
  }
}
@media screen and (min-width: 100px) and (max-width: 600px) {
  .page-main .backstretch1 {
    min-height: 450px;
  }
  .page-main .backstretch1 img {
    height: 100vh;
    min-height: 450px;
  }
  .page-main .backstretch1 .row {
    margin-top: -175px;
  }
  .page-main .backstretch1 .row .col-md-12 .btn-group {
    padding-top: 10px;
  }
  .page-main .backstretch1 .row .col-md-12 .btn-group span {
    display: block;
  }
  .page-main .backstretch1 .row .col-md-12 .btn-group span:first-child {
    margin-bottom: 40px;
  }
  .page-main .backstretch1 .row .col-md-12 .btn-group .md-btn {
    clear: both;
  }
  .page-main .backstretch1 .row .col-md-12 .btn-group .btn-work {
    margin-right: 0px;
  }
  .page-main .backstretch1 img {
    min-height: 500px;
    max-height: 600px;
  }
}
